<script >
    const deleteBlog=async(blogId)=>{
        
       if(confirm("Are you sure?")){

       
        let res=await fetch(location.origin+"/blog/delete",{
            method:"DELETE",
            headers: {
             "Content-Type": "application/json",
    },
    body: JSON.stringify({blogId:blogId } ),
        })
        res=await res.json()
       if(res.success){
        alert(res.message)
        location.assign('/user/profile')
       }
    }
    }
</script>
<div class="ml-2 mt-2">
  >  <a href="/"> Home </a> / <a href="/user/profile">Profile</a>
</div>
<h2 class="ml-3">My Blogs</h2> 
<div class="flex blog-container">

{{#each blogs}}

<div class= "card blog my-1 mx-1">
    <div class="delete-edit-icon">  <a href="/blog/blog-editor/{{this._id}}">  <i class="fa fa-edit" id="edit"></i> </a>  <i class="fa fa-trash" onclick="deleteBlog('{{this._id}}')" ></i> </div>
    <div class="blog-card-content">
        <a href="/blog/{{this._id}}">
            <h3>{{this.title}} </h3> 
            <img src="{{this.imgUrls.[0]}}" alt="" >
        </a>  
    </div>

    <div class="card-footer">
        {{this.email}} | {{formatDate this.createdAt "lll"}}
    </div>  

</div>
{{/each}}
</div>

